a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* _____________________H E A D E R______________________ */

/* #region HEADER */

header {
  min-height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

header .row {
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  min-height: 56px;
  flex-wrap: nowrap;
  gap: 15px;
}

.div-menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.div-menu-logo button {
  border: 0;
  background: transparent;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 660px;
  gap: 10px;
}

.form-control {
  border-radius: 40px 0 0 40px;
  max-width: 536px;
  height: 40px;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem transparent;
}

.input-group > .form-control:focus, .input-group > .form-select:focus, .input-group > .form-floating:focus-within{
  z-index: 0;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-radius: 0px 40px 40px 0px;
  border: 1px solid #D3D3D3;
  background: #F8F8F8;
  width: 64px;
  height: 40px;
}

.vois {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
}

.menu-in {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu {
  background: transparent;
  border: 0;
  width: 24px;
  height: 24px;
}

.menu-in a {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  height: 36px;
  width: 96.6px;
  color: #065FD4;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
}

.search-none {
  background: transparent;
  border: 0;
  display: none;
}

@media (max-width: 600px) {

  form {
    display: none;
  }

  .search-none {
    display: block;
  }

}

@media (max-width: 390px) {

  header .menu-in a{
    display: none;
  }

}


/* #endregion HEADER */




/* ______________________a s i d e________________________ */

/* #region aside */

aside {
  position: fixed;
  top: 56px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  min-height: 838px;
  width: 240px;
  
}

.home-shorts-subscriptions {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  height: 145px;
  padding: 12px 24px 13px 12px;
}

.you-history {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  height: 105px;
  padding: 12px 24px 13px 12px;
}

.p-sign-in {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  padding: 16px 32px 17px 32px;
  height: 121px;
}

.ul-aside {
  margin: 0;
  padding: 0;
}

.ul-aside li {
  width: 100%;
}

.ul-aside li a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 23px;
  color: #0F0F0F;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 10px;
  transition: all 0.2s;
}

.ul-aside a:hover {
  background: #eaeaea;
}

.ul-aside .active {
  background: #eaeaea;
}

.explore {
  padding: 12px 24px 13px 12px;
}

.p-sign-in p {
  color: #0F0F0F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.explore h3{
  margin-left: 10px;
  color: #0F0F0F;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}





@media (max-width: 1080px) {



}

@media (max-width: 850px) {



}


/* #endregion aside */




/* ________________________T W O_________________________ */

/* #region TWO */






@media (max-width: 1244px) {



}

@media (max-width: 1080px) {



}


/* #endregion TWO */




/* ______________________T H R E E_______________________ */

/* #region THREE */







@media (max-width: 1278px) {



}

@media (max-width: 770px) {



}

/* #endregion THREE */




/* _______________________F O U R________________________ */

/* #region FOUR */





@media (max-width: 1130px) {


  
}

@media (max-width: 642px) {


  
}

/* #endregion FOUR */




/* _______________________F I V E________________________ */

/* #region five */






@media (max-width: 925px) {


  
}
/* #endregion five */




/* ________________________S I X_________________________ */

/* #region SIX */






@media (max-width: 965px) {



}


/* #endregion SIX */




/* ________________________F O R M_______________________ */

/* #region FORM */







/* #endregion FORM */




/* _______________________E I G H T______________________ */

/* #region EIGHT */






@media (max-width: 1185px) {



}

@media (max-width: 620px) {



}

/* #endregion EIGHT */




/* _______________________F O O T E R____________________ */

/* #region FOOTER */






@media (max-width: 1185px) {



}

@media (max-width: 620px) {



}

/* #endregion FOOTER */
